.container
	.goods-title.title
		| Продукция
	.goods-list
		.goods-list-item
			.goods-item-description
				.goods-item-description-title
					| Минераловатный мат
				.goods-item-description-text.
					Волокна в минераловатных матах расположены преимущественно хаотично, что придает им высокую жесткость и позволяет использовать более одного оборота. Минераловатный субстрат Belagro достаточно влагоемкий, что позволяет реже поливать растения и тем самым экономить воду и удобрения. Уровень ЕС в матах держится стабильно, без резких перепадов, что благоприятно для роста корней. Субстрат равномерно теряет влагу (усушка) и при правильном поливном режиме в нем создаются все условия для формирования мощной, хорошо развитой корневой системы. Применяют минераловатный мат как основную среду корнеобитания. По желанию заказчика возможно изготовление матов нестандартных размеров.
				.goods-item-description-params
					span Размеры:
					button.button-params 1000 x 200 x 75 мм.
					button.button-params 1000 x 150 x 100 мм.
					button.button-params 1000 x 200 x 100 мм.
			.goods-item-slider
				- var slider_1 = [{name: "slider_1", id:'slider_1-item-1', src:'./img/Gallery11 copy 2.png', check: 'checked'}, {name: "slider_1", id:'slider_1-item-2', src:'./img/Gallery12.png',check: ''}, {name: "slider_1", id:'slider_1-item-3',src:'./img/Gallery1 copy.png', check: ''}]
				.slider
					each sliderItems in slider_1
						input(type="radio" name=`${sliderItems.name}` id=`${sliderItems.id}` checked)
						label(for=`${sliderItems.id}`)
							img(src=`${sliderItems.src}` width="100")
						img(src=`${sliderItems.src}`)

		.goods-list-item
			.goods-item-description
				.goods-item-description-title
					| Минераловатный кубик
				.goods-item-description-text.
					Минераловатный кубик обеспечивает здоровую корневую систему, сильное растение с хорошим балансом вегетативного и генеративного развития, легкое управление процессами роста. Кубики можно использовать как при прямом посеве семян, так и при технологии пикировки, при которой семена высаживаются сначала в минераловатные пробки, размещенные в кассетах. Кубики предназначены для выращивания рассады овощных и цветочных культур, изготовлены из гидрофильной гофрированной минеральной ваты, структура которой обеспечивает особую жесткость и механическую стабильность кубиков при их смачивании. Преимущественно вертикальное расположение волокон минеральной ваты, а также наличие дренажных канавок на нижней стороне кубиков и поливочного ринга сверху позволяют осуществлять выращивание сильной рассады.

				.goods-item-description-params
					span Размеры:
					button.button-params 100 x 100 x 65 мм.
					button.button-params 150 x 100 x 65 мм.
					button.button-params 75 x 75 x 65 мм.
			.goods-item-slider
				- var slider_2 = [{name: "slider_2", id:'slider_2-item-1', src:'./img/Gallery1 copy.png', check: 'checked'}, {name: "slider_2", id:'slider_2-item-2', src:'./img/Gallery12.png',check: ''}, {name: "slider_2", id:'slider_2-item-3',src:'./img/Gallery11 copy 2.png', check: ''}]
				.slider
					each sliderItems in slider_2
						input(type="radio" name=`${sliderItems.name}` id=`${sliderItems.id}` checked)
						label(for=`${sliderItems.id}`)
							img(src=`${sliderItems.src}` width="100")
						img(src=`${sliderItems.src}`)

		.goods-list-item
			.goods-item-description
				.goods-item-description-title
					| Минераловатная пробка
				.goods-item-description-text.
					Минераловатную пробку применяют для проращивания семян с последующей пикировкой в кубик. Для выращивания сеянцев пробки размещаются в стандартных кассетах из пластика или пенополистирола. Структурная однородность пробок из минеральной ваты делает возможным равномерное распределение воды, питательных веществ и значения pH. За счет этого достигается более хорошая всхожесть семян, и саженцы вырастают одинакового размера.
				.goods-item-description-params
					span Размеры:
					button.button-params 20 x 27 мм.
			.goods-item-slider
				- var slider_3 = [{name: "slider_3", id:'slider_3-item-1', src:'./img/Gallery1 copy.png', check: 'checked'}, {name: "slider_3", id:'slider_3-item-2', src:'./img/Gallery11 copy 2.png',check: ''}, {name: "slider_3", id:'slider_3-item-3',src:'./img/Gallery12.png', check: ''}]
				.slider
					each sliderItems in slider_3
						input(type="radio" name=`${sliderItems.name}` id=`${sliderItems.id}` checked)
						label(for=`${sliderItems.id}`)
							img(src=`${sliderItems.src}` width="100")
						img(src=`${sliderItems.src}`)